@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

@theme{
  --animate-load : Load 0.7s ease infinite;
  --animate-load-1 : Load 0.7s ease 0.1s infinite;
  --animate-load-2 : Load 0.7s ease 0.2s infinite;
  --animate-load-3 : Load 0.7s ease 0.3s infinite;
  --animate-load-4 : Load 0.7s ease 0.4s infinite;
  --animate-load-5 : Load 0.7s ease 0.5s infinite;
  --animate-load-6 : Load 0.7s ease 0.6s infinite;
  --animate-load-7 : Load 0.7s ease 0.7s infinite;


  --color-light-green: #BBFFAA;
  --color-desert-sand: #EECDAD;

  @keyframes Load {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
